@font-face {
  font-family: "proxima-nova";
  font-weight: 200;
  src: url("/fonts/ProximaNova-Light.otf");
}
@font-face {
  font-family: "proxima-nova";
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "proxima-nova";
  font-weight: 600;
  src: url("/fonts/ProximaNova-Bold.otf");
}
