.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  &--partneredWith,
  &--mentors,
  &--mentoredBy,
  &--acquired,
  &--acquiredBy,
  &--investedIn,
  &--investedBy,
  &--founded,
  &--foundedBy {
    stroke-opacity: 1;
    stroke-width: 2px;
  }
  
  &--mentoredBy {
    stroke: $mentored-by;
  }

  &--mentors {
    stroke: $mentors;
  }

  &--investedIn {
    stroke: $invested-in;
  }

  &--investedBy {
    stroke: $invested-by;
  }

  &--acquired {
    stroke: $acquired;
  }

  &--acquiredBy {
    stroke: $acquired-by;
  }

  &--founded {
    stroke: $founded;
  }

  &--foundedBy {
    stroke: $founded-by;
  }

  &--partneredWith {
    stroke: $partnered-with;
  }

  &--faded {
    stroke: $faded;
  }
}
