.node {
  font-size: $fs-0;
  font-weight: 300;
  fill: $inactive;
  transition: all 0.1s ease-in-out;

  &--faded {
    fill-opacity: 0.2;
  }

  &--bolded {
    font-weight: $fw-bold;
    font-size: $fs-1;
    fill: $almost-black-color;
  }

  &:hover,
  &--partneredWith,
  &--mentors,
  &--mentoredBy,
  &--acquired,
  &--acquiredBy,
  &--investedIn,
  &--investedBy,
  &--founded,
  &--foundedBy {
    font-weight: $fw-bold;
    font-size: $fs-1;
    cursor: pointer;
    fill-opacity: 1;
  }

  &--root {
    font-size: $fs-1;
    font-weight: bold;
  }

  &:hover {
    fill: $hover;
  }

  &--mentors {
    fill: $mentors;
  }

  &--mentoredBy {
    fill: $mentored-by;
  }

  &--investedIn {
    fill: $invested-in;
  }

  &--investedBy {
    fill: $invested-by;
  }

  &--acquired {
    fill: $acquired;
  }

  &--acquiredBy {
    fill: $acquired-by;
  }

  &--founded {
    fill: $founded;
  }

  &--foundedBy {
    fill: $founded-by;
  }

  &--partneredWith {
    fill: $partnered-with;
  }
}
