.quote {
  margin: 20px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-gray-2-color;

  &__text {
    margin: 10px 0;
    font-size: $fs-2;
    font-weight: $fw-bold;
    color: $almost-black-color;
  }

  &__author {
    margin: 10px 0 0 0;
    font-size: $fs-1;
    font-weight: $fw-normal;
    color: #3a3a3a;
  }

  &__author-position {
    font-weight: $fw-light;
    font-size: $fs-0;
    color: $gray-10-color;
  }
}
